@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus textarea,
.form-control:focus,
.uneditable-input:focus {
  box-shadow: none;
  outline: 0 none;
  border-color: #e03f3f !important;
}

/* Order online page style */
body {
  background-color: #fff;
}

.order_list {
  cursor: pointer;
  padding: 10px;
}

.order_list ul {
  padding: 0;
  margin: 0;
  text-align: left !important;
}

.order_list ul li {
  text-align: left !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  min-width: 185px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #f8f8f8;
  /* margin-left: 20px;  */
}

.menu li.active {
  background-color: red;
  color: white;
}
.closed {
  padding-left: 11px;
}
.border {
  border: 1px solid red;
  /* height: 50px; */
  /* width: 94%; */
  margin: 0px auto;
  font-weight: 600;
  background: #ffd2d2;
  border: 0;
  color: #f00;
  letter-spacing: 2px;
  padding-top: 15px;
  font-size: 16px;
  padding: 10px;
}

.order_area {
  margin-top: 40px;
}

.available_items {
  margin: 0px auto;
  width: 70%;
  min-width: 300px;
}

.color_items {
  background-color: #f8f8f8;
  padding: 18px;
  min-width: 450px;
  /* margin-left: -73px; */
}

.color_items h5 {
  color: #1b1b1b;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.color_items p {
  font-size: 14px;
  line-height: 17px;
  margin-top: -6px;
}

/* .price{
  display: flex;
 
}
*/
.qty-in {
  border: 1px solid #c2c2c2;
  width: 100%;
  text-align: center;
}

.price {
  color: #e61a16;
  position: relative;
  top: 10px;
  font-weight: 700;
  font-size: 14px;
}

.order-options {
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #c3c3c3;
  width: 100%;
}

.add_btn {
  font-size: 25px;
  position: absolute;
  margin-left: 10px;
}
.btn-add {
  border: 2px solid gray;
  text-align: center;
  margin: 0px auto;
  border-radius: 3px;
  width: 28px;
  cursor: pointer;
}
.order_summary {
  background-color: #f8f8f8;
}
.summary {
  padding: 17px;
}
.summary_title {
  margin-bottom: 32px;
}
.summary_title p {
  color: #e61a16 !important;
  font-weight: 600;
}
.radio_btn {
  margin-right: 5px;
  cursor: pointer;
}
.radio_label {
  font-family: "Oswald", sans-serif;
  color: #1b1b1b;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.9em;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
}
.postal_code {
  margin-top: 10px;
  font-size: 14px;
  color: #3c3c3c;
}
.postal_in {
  width: 100%;
  padding: 3px 10px !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  min-height: 35px !important;
  border: 1px solid #444 !important;
}
.order_btn {
  width: 100% !important;
  border: none !important;
  background: #ee032b !important;
  color: #fff !important;
  border-radius: 0 !important;
  padding: 7px 0 !important;
  text-align: center !important;
  min-height: 40px !important;
  cursor: pointer;
}
.summary_content {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .color_items {
    min-width: 300px;
    width: 90%;
  }
  .order-options {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  .btn-add {
    margin-top: 10px;
  }
  /* .available_items{
      width: 97%;
  } */
}
@media screen and (max-width: 500px) {
  .order_area {
    margin: 0px auto;
    width: 73%;
  }
}

.order-online {
  padding: 40px 0;
}
.info-header {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 7px 15px 10px 0;
  background-color: #ffede1;
  color: #252525;
  border-radius: 6px;
  font-weight: 600;
  /* width: 75%; */
  overflow: hidden;
  font-size: 14px;
}
.info-header > i {
  padding: 10px 13px;
  color: #fd7300;
  font-size: 20px;
}
.wrapper_123_category {
  position: relative;
}
.wrapper_123_category.sticky {
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  z-index: 99;
}
.chip_card_123 {
  display: none;
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.menu-list {
  display: flex;
  list-style: none;
  padding-left: 5px;
  overflow-x: hidden;
  transition: all ease-in-out 0.2s;
  margin: 0;
}
.menu-list > li {
  background-color: #f2f2f2;
  padding: 0.55rem 1.4rem;
  margin-right: 2rem;
  border-radius: 5px;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.menu-list > li:hover {
  background-color: #c3c3c3;
}
.menu-list > li.active {
  background-color: #e03f3f;
  color: #fff !important;
  font-weight: 600;
}
.nav-link {
  text-decoration: none;
  cursor: pointer;
}
.nav-btn {
  border: none;
  outline: none;
  width: 65px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: all ease-in-out 0.2s;
}
.nav-btn:hover {
  color: #e61a16;
}
.nav-btn > i {
  font-size: 14px;
}

.food_order_area {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 20px 0;
}
.order_block {
  width: 70%;
  /* min-width: 300px; */
  /* max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden; */
  transition: all 0.2s ease-in-out;
}
.billing_block_order_plugin {
  position: relative;
  width: 30%;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
}
.billing_block_order_plugin.sticky {
  position: sticky;
  top: 10px;

  /* right: 30px; */
}
.food-card {
  border: none;
  padding: 10px;
  overflow: hidden;
}
.food-img {
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
}
.food-img > img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.food_content {
  padding: 10px;
}
.food_content > h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.rest_name {
  color: #747474;
  font-size: 14px;
}
.desc_ {
  font-size: 13px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #444;
}
.food_type {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
.box {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.box.veg {
  border: 2px solid #028d3e;
}
.circle.veg {
  background-color: #028d3e;
}
.box.non {
  border: 2px solid #e61a16;
}
.circle.non {
  background-color: #e61a16;
}
.box.unknown {
  display: none;
}
.circle.unknown {
  display: none;
}
.price_ {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.wrapper__ {
  position: absolute;
  display: flex;
  right: 10px;
  bottom: 0;
}
.order_now {
  border: none;
  outline: none;
  padding: 7px 10px;
  background-color: #fe4645;
  color: #fff;
  right: 10px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.order_now.added {
  border-radius: 50%;
  background-color: #028d3e;
}
.order_title {
  font-size: 18px;
  font-weight: 700;
  color: #747474;
  margin-top: 20px;
}
.inc_dec_wrapper {
  display: flex;
  width: 90px;
  height: auto;
  overflow: hidden;
  border: 1px solid #444;
  border-radius: 16px;
}
.inc_dec_wrapper > p {
  margin-bottom: 0;
  padding: 3px 10px;
  font-weight: 700;
  user-select: none;
}

.increment,
.decrement {
  width: 30px;
  height: 30px;
  border: none;
  color: #747474;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 700;
}

.increment:hover,
.decrement:hover {
  color: #252525;
}
/* .summary_item_wrapper_029 {
  min-height: 250px;
  overflow-y: scroll;
} */
.empty_indic_order_summary {
  text-align: center;
  font-weight: 700;
  color: #7777;
  user-select: none;
}
.summary_card {
  position: relative;
  padding: 10px;
  background-color: #faf3cc;
  /* border: 1px solid #ffad02; */
  border: none;
  margin-bottom: 10px;
}
.summary_card > .food_menu {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.price_summary_1 {
  font-weight: 700;
  font-size: 15px;
  color: #e61a16;
  margin-bottom: 0px;
  margin-left: auto;
}
.remove {
  width: 40px;
  height: auto;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: auto;
}
.line__ {
  width: 100%;
  height: 1px;
  border: 1px dashed #7777;
}
.bill-spikes {
  background: #faf3cc;
  width: 22rem;
  padding: 1rem 1rem 2rem;
  --mask: conic-gradient(
      from 135deg at top,
      #0000,
      #000 1deg 89deg,
      #0000 90deg
    )
    50%/15px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.delivery_option {
  display: none;
}
.delivery_option_container {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  transition: all 0.2 ease-in-out;
}

.radio-container:hover .checkmark {
  background-color: #ccc;
}

.delivery_option:checked + .checkmark {
  background-color: #e61a16;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.delivery_option:checked + .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.opt_label_827 {
  font-size: 13px;
  font-weight: 700;
  margin-top: 20px;
}
.opt_input_827 {
  width: 100%;
  margin-top: 3px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #7777;
  outline: none;
}
.opt_input_827.err__ {
  font-size: 12px;
  border-color: red;
}
.order_now_192 {
  width: 100%;
  margin-top: 20px;
  padding: 7px 0;
  border: none;
  outline: none;
  background-color: #fd4645;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.order_now_192:hover {
  background-color: #e03f3f;
}
.order_now_192:disabled {
  background-color: #da6d6d;
}
/* .summary_item_wrapper_029 {
  max-height: 250px;
} */
/* .footer_98_ {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #fff;
} */
.food_category_009 {
  list-style: none;
  padding: 0;
  margin: 0;
}
.food_category_009 > a {
  position: relative;
  padding: 10px 0;
  background-color: #eee;
  margin: 10px 0;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.food_category_009 > a:hover {
  background-color: #e03f3f;
  color: #fff;
}
.food_category_009 a > li {
  padding: 0 10px;
  font-weight: 600;
  text-transform: capitalize;
}
.food_category_009 a > i {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  transform: translate(-10px, -50%);
  opacity: 0;
}
.food_category_009 a:hover > i {
  opacity: 1;
  transform: translate(0, -50%);
}

.category_card_009 {
  position: sticky;
  top: 10px;
  width: 250px;
  transition: all 0.5s ease-in-out;
}
.active_009 {
  background-color: #e03f3f !important;
  color: #fff !important;
}
.nav-link.active_009 > i {
  opacity: 1;
  color: #fff;
  transform: translate(0, -50%);
}
.product_wrapper_029 {
  position: relative;
  width: 100%;
  /* background-color: #f9fafc; */
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.cat_2901 {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.cat_2901::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #e03f3f;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}
.food_card_wrapper_029 {
  position: relative;
  margin-bottom: 1.2rem;
}
.food_card_wrapper_029:hover > .upper_pot_029 .food_img_029 > img {
  transform: scale(1.2);
}
.upper_pot_029 {
  display: block;
  width: 100%;
  height: 130px;
  /* background-color: #028d3e; */
}
.upper_pot_029 > .food_img_029 {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.372),
    5px 0px 5px rgba(0, 0, 0, 0.372), 0px -5px 5px rgba(0, 0, 0, 0.372);
  background-color: #fff;
  z-index: 9;
}
.upper_pot_029 .food_img_029 > img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.upper_pot_029::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: #fff;
  bottom: 0;
  border-top: 1px solid #ddd; /* Border on top */
  border-left: 1px solid #ddd; /* Border on left */
  border-right: 1px solid #ddd; /* Border on right */
  border-radius: 20px 20px 0 0;
}

.bottom_pot_029 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: auto;
  min-height: 160px;
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Border on bottom */
  border-left: 1px solid #ddd; /* Border on left */
  border-right: 1px solid #ddd; /* Border on right */
  border-radius: 0 0 20px 20px;
}

.food_name_029 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #3c3c3c;
  user-select: none;
  margin-top: 10px;
}
.food_desc_029 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: #444;
  text-align: center;
  user-select: none;
}
.cart_btn_029 {
  position: absolute;
  display: block;
  border: none;
  outline: none;
  background-color: #e03f3f;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  font-weight: 600;
}
.cart_btn_029:hover {
  background-color: #c30b2a;
}
.cart_btn_029 > span {
  font-weight: 600;
  font-size: 13px;
}

@media screen and (max-width: 1400px) {
  /* .cat_col_0229,
  .category_card_009 {
    display: none;
  } */
  .chip_card_123 {
    display: none;
  }
}
.modal_wrapper_02901 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
  transition: all 0.2s ease-in-out;
  overflow-y: auto;
  padding: 10px 0;
}
.modal_wrapper_02901::-webkit-scrollbar {
  width: 12px;
  opacity: 0;
}

.modal_wrapper_02901::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal_wrapper_02901::-webkit-scrollbar-thumb {
  background: #44444499;
  border-radius: 6px;
}

.modal_wrapper_02901::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.moadl_02901 {
  position: absolute;
  display: block;
  width: auto;
  min-width: 500px;
  max-width: 50%;
  /* max-height: 80%; */
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 10px;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px #4444447e;
}
.modal_wrapper_02901.hide {
  display: none;
}
.close_02901 {
  position: absolute;
  color: #fff;
  border: none;
  outline: none;
  background-color: transparent;
  right: 10px;
  top: 10px;
  font-size: 25px;
}
.food_name_02901 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: #3c3c3c;
}
.product_img_bg_029 {
  position: absolute;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background-color: #fff;
  display: inline-block;
}
.product_img_bg_029::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(0, 0, 0, 0.462))
    no-repeat;
  /* background-size: 100% 30%; */
}
.product_img_bg_029 > img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content_container_02901 {
  margin-top: 5rem;
}
.food_desc_02901 {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #3c3c3c;
  padding: 10px 0;
  width: 70%;
  margin: 0 auto;
}
.price_02901 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.inc_dec_wrapper_0291 {
  display: block;
  position: relative;
  width: 120px;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.incDec_wrapper_0291 {
  position: absolute;
  /* width: 100%; */
  background-color: #f2f1f2;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e03f3f;
}
.incDec_wrapper_0291 > .toggle-checkbox {
  display: none;
}

.incDec_wrapper_0291 > .counter-container {
  display: flex;
  align-items: center;
}

.increment-button,
.decrement-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px #3c3c3c;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  user-select: none;
}

.increment-button:hover,
.decrement-button:hover {
  background-color: #ddd;
  color: #c30b2a;
}
.increment-button.red {
  background-color: #e03f3f;
  color: #fff;
}
.increment-button:focus,
.increment-button:active,
.decrement-button:focus,
.decrement-button:active {
  transform: scale(0.7);
}

.counter-text {
  margin: 0 10px;
}

.toggle-checkbox:checked + .increment-button {
  background-color: green;
  color: white;
}

.toggle-checkbox:checked + .decrement-button {
  background-color: red;
  color: white;
}
.sub_head_0291 {
  font-size: 15px;
  font-weight: 700;
  color: #3c3c3c;
  margin: 10px;
}
.menu_table_0291 {
  width: 100%;
  border-collapse: collapse;
  /* font-weight: 600; */
  color: #252525;
  font-size: 16px;
  margin-bottom: 10px;
}
.menu_table_0291 td:first-child {
  width: 70%;
}

.menu_table_0291 td:last-child {
  width: 30%;
  text-align: right;
}
.varient_name {
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
  white-space: nowrap;
}
.varient_name.disabled {
  color: #ababab;
  cursor: default;
}
.btn_grp_8392 {
  display: flex;
  margin: 10px 0;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.btn_grp_8392 > .btn_8392 {
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.btn_8392 > i {
  margin: 0 10px;
}
.submit_btn_8392 {
  background-color: #e03f3f;
  color: #fff;
}
.submit_btn_8392:hover {
  background-color: #ab2e2e;
}
.submit_btn_8392:disabled {
  background-color: rgb(167, 87, 87);
}
.cancel_btn_8392:hover {
  background-color: #d1d1d1;
}
.info_label_0291 {
  display: block;
  font-size: 12px;
  color: #e03f3f;
  padding: 5px 0;
  border-radius: 5px;
  user-select: none;
  margin: 0;
}
.not_available_8392 {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #747474;
}

/* Accordian */
.accordian_wrapper_001 {
  display: none;
  position: relative;
  padding: 10px;
}

.accordian_space_001 {
  width: 100%;
  /* background-color: #fff; */
  padding: 10px;
  margin: 0 auto;
}

.accor_btn_001 {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.accor_btn_001 > span {
  user-select: none;
}
.accor_btn_001:hover {
  color: #fd4645;
}

.food_list_are_001 {
  display: grid;
  grid-template-rows: auto;
  opacity: 1;
  height: 100%;
  overflow: hidden;
  padding: 10px;
  transition: max-height 0.3s ease-in-out;
}

.food_list_are_001.hide {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: max-height 0.3s ease-in-out, padding 0s linear 0.3s,
    opacity 0.3s ease-in-out;
}
.accord_category_name_19 {
  font-size: 20px;
  font-weight: 700;
}
.accord_food_anchor {
  cursor: pointer;
  text-decoration: none;
  color: #3c3c3c !important;
}
.accord_food_card_19 {
  position: relative;
  padding: 10px;
  overflow: hidden;
}
.accord_food_name_19 {
  font-size: 18px;
  font-weight: 700;
}
.accord_desc_19 {
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.accord_price_19 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.accord_arrow_19 {
  transition: all 0.2s ease-in-out;
}
.accord_arrow_19.down {
  transform: rotate(180deg);
}
.accord_img_19 {
  width: 100%;
  height: 100%;
  max-height: 120px;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
}
.accord_img_19 > img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collapse_accordion_001 {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 2px 2px #444;
  margin: 20px;
  transition: box-shadow 0.2s ease-in-out;
}

.collapse_accordion_001:focus,
.collapse_accordion_001:focus-within {
  box-shadow: 0 0 5px #444;
}
.collapse_accordion_001 > span {
  font-size: 13px;
  font-weight: 600;
}
.checkout_responsive_area {
  display: none;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #e03f3f;
  padding: 10px;
  left: 0;
  bottom: 0;
  box-shadow: 0 2px 10px #444;
  z-index: 9;
}
.checkout_resp_btn_021 {
  width: 100%;
  background-color: #fe4645;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
}
.checkout_resp_price {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.delivery_option:disabled {
  cursor: default !important;
  user-select: none;
}
.addOnsList028 {
  width: 100%;
  list-style: none;
  padding-right: 20px;
  /* margin: 10px 0; */
  font-size: 13px;
}
.addOnsList028 td:first-child {
  width: 70%;
}

.addOnsList028 td:last-child {
  width: 30%;
  text-align: right;
}
.inc_dec_wrapper_order_summary {
  display: inline-block;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #1b1b1b;
}
.summary_qty_btn {
  outline: none;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.summary_qty_btn:hover {
  color: #e03f3f;
}
.total_cost_summary {
  font-size: 15px;
  font-weight: 700;
  user-select: none;
}
.total_cost_summary td:first-child {
  width: 70%;
}

.total_cost_summary td:last-child {
  font-size: 18px;
  width: 30%;
  text-align: right;
}
.add_ons_wrapper_order_summary {
  height: 0px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin: 0;
}
.add_ons_wrapper_order_summary.show {
  height: 100%;
}
.summary_addons_collapse_btn {
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  color: #252525;
  transition: all 0.2s ease-in-out;
}
.summary_addons_collapse_btn > span {
  font-size: 13px;
  font-weight: 600;
}
.summary_addons_collapse_btn:hover {
  color: #e03f3f;
}
.err_msg_order_summary {
  font-size: 13px;
  font-weight: 600;
  color: red;
  user-select: none;
}
.discount_order_summary > td {
  font-size: 15px !important;
  font-weight: 500;
}
.qty_order_summary {
  margin: 0 7px;
  padding: 3px 0;
  font-size: 15px;
  border-radius: 50%;
  color: #e03f3f;
  font-weight: 700;
}
.order_summary_checkout {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #e9ecee;
  padding-top: 8rem;
  overflow-y: scroll;
  z-index: 0;
}
.login_summary_card_0928 {
  position: relative;
  padding: 2rem;
  border: none;
  border-radius: 2px;
  margin: 20px 0;
}
.login_summary_card_ico_0928{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  /* box-shadow: 2px 0 10px #7777; */
  background-color: #e03f3f;
  color: #fff;
  right: 20px;
  top: -20px;
  border-radius: 5px;
  padding: 4px 15px;
  font-size: 1.5rem;
}
.login_summary_card_0928 > h4 {
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}
.login_summary_card_0928 > p {
  color: #747474;
  font-size: 14px;
  user-select: none;
}
#sub_summary_txt {
  font-size: 13px;
  color: #3c3c3c;
}
.online_order_plugin_label_2939 {
  font-size: 13px;
}
.online_order_plugin_input_2939 {
  border-radius: 2px;
}
.online_order_plugin_txtarea_2939 {
  font-size: 15px;
  min-height: 250px;
}
.online_order_plugin_login_btn{
  width: 200px;
  
}

@media screen and (max-width: 1190px) {
  .category_card_009 {
    width: auto;
  }
}

@media screen and (max-width: 1160px) {
  /* .billing_block_order_plugin {
    display: none;
  } */
  .order_block {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .billing_block_order_plugin,
  .product_wrapper_029,
  .category_card_009 {
    /* display: none; */
  }
  .food_area_col {
    width: 100% !important;
  }
  .accordian_wrapper_001 {
    display: block;
  }
  .checkout_responsive_area {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .cat_col_0229 {
    display: none;
  }
  .product_wrapper_029 {
    display: none;
  }
  .food_area_col {
    width: 100% !important;
  }
  .accordian_wrapper_001 {
    display: block;
  }
  .checkout_responsive_area {
    display: block;
  }
  .moadl_02901 {
    min-width: 400px;
  }
  .submit_btn_8392 > span {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .moadl_02901 {
    min-width: 300px;
  }
}
